$primary: #ff3f40;
@import "~bootstrap/scss/bootstrap";

img{
    @media (max-width: 992px){
        width: 200px;
        margin: auto;
    }
}

.navbar-collapse{
    @media (max-width: 992px){
        margin-top: 10px;
    }
}

.nav-link{
    text-transform: uppercase;
    line-height: 60px;
    @media (max-width: 992px){
        line-height: 20px;
    }
}

.nav-link.active{
    background-color: $primary;
}

.header{
    padding: 20px 0;
    background-color: #f6f2f2;
    &__content{
        padding: 60px 0;
        @media (max-width: 992px){
            padding: 30px 0;
        }
    }
    &__subtitle{
        font-weight: 800;
    }
    &__description{
        padding: 10px 0;
    }
    h1{
        font-size: 50px;
        letter-spacing: 0.2rem;
        text-transform: uppercase;
        @media (max-width: 480px){
            font-size: 28px;
        }
    }
    &__image{
        position: relative;
        @include media-breakpoint-down(lg){
            padding-top: 50px;
        }
        @media (max-width: 992px){
            padding-top: 30px;
        }
    }
    img{
        width: 100%;
    }
}

.btn-primary{
    @if lightness($primary)>0.3{
        color: #fff !important;
    }
    @else{
        color: #000 !important;
    }
}

.btn-lg{
    font-size: 18px;
    padding: 5px 50px;
    line-height: 30px;
}

.btn-play{
    position: absolute;
    height: 50px;
    width: 50px;
    left: calc(50% - 15px);
    top: 45%;
    border-radius: 50px;
    border: 5px solid #f6f2f2;
    background-color: transparent;
    @media (max-width: 992px){
        top: calc(50% + 25px);
        left: calc(50% - 12px);
    }
    @media (max-width: 600px){
        width: 40px;
        height: 40px;
        border-radius: 40px;
        left: calc(50% - 10px);
    }
}

.btn-triangle{
    position: absolute;
    height: 0;
    width: 0;
    border-top: 22px solid #f6f2f2;
    border-bottom:none;
    border-left: 22px solid transparent;
    border-right:none;
    transform: rotate(45deg);
    top: 22%;
    left: 10%;
    @media (max-width: 600px){
        border-top: 18px solid #f6f2f2;
        border-left: 18px solid transparent;
    }
}

.section{
    margin: 60px auto;
    @media (max-width: 992px){
        margin: 40px auto;
    }
    @media (max-width: 600px){
        margin: 30px auto;
    }
}

.subtitle{
    text-transform: uppercase;
    color: #575757;
    font-size: 36px;
    letter-spacing: 0.2rem;
    @media (max-width: 600px){
        font-size: 30px;
    }
    &__description{
        padding: 15px 0;
    }
}

.paragraph{
    color: #838383;
    &-row{
        @media (max-width: 992px){
            width: 100% !important;
        }
    }
}

.btn-outline-primary{
    border: 2px solid $primary;
    font-weight: 500;
}

.btn-outline-primary:hover{
    color: #fff;
}

.svg-inline--fa{
    height: 1.5rem;
    color: $primary;
}

.cards{
    @media (max-width: 992px){
        margin-top: 30px;
    }
}

.card{
    @media (max-width: 600px){
        margin-top: 0;
    }
}

.border-primary{
    width: 15%;
    margin: auto;
}

.link-item{
    color: #6c757d;
    font-weight: 600;
}

.link{
    font-size: 20px;
    @media (max-width: 992px){
        font-size: 16px;
    }
}

.col-sm-6{
    @media (max-width: 576px){
        width: 100%;
    }
}

.card-img{
    @media (max-width: 992px){
        width: 300px;
    }
}

.title{
    margin-top: 3rem;
    @media (max-width: 1400px){
        margin-top: 0.75rem;
    }
    @media (max-width: 1200px){
        margin-top: -2.5rem;
        font-size: 30px;
    }
    @media (max-width: 992px){
        margin-top: 0.5rem;
    }
}

.text-row{
    justify-content: flex-start;
    @media (max-width: 992px){
        text-align: center;
    }
}

.flex-media{
    @media (max-width: 992px){
        margin: auto;
        width: 220px;
        flex-wrap: wrap;
    }
}

.row-media{
    @media (max-width: 992px){
        max-width: 450px !important;
    }
    @media (max-width: 576px){
        max-width: 250px !important;
        flex-direction: column;
    }
}

.img-first{
    position: relative;
}

.text-overflow{
    position: absolute;
    bottom: 0;
    text-align: center;
    width: 100%;
    height: 25px;
    line-height: 25px;
    font-size: 12px;
    color: #fff;
    background-color: rgba(0, 0, 0, 0.5);
    text-transform: uppercase;
    @media (max-width: 992px){
        width: 200px;
        left: 0.5px;
    }
    @media (max-width: 576px){
        width: 200px;
        left: 13px;
    }
}

.section-subscribe{
    background-color: #cbac97;
}

.subscribe-text{
    color: #fff;
    @media (max-width: 576px){
        padding-top: 1.5rem;
    }
}

.subscribe-title{
    text-transform: none;
    font-size: 30px;
    color: #fff;
}

.form-control{
    width: 300px;
    height: 50px;
    padding: 0.375rem 1rem;
    @media (max-width: 490px){
        width: 250px;
        height: 40px;
    }
}

.btn-submit{
    height: 50px;
    padding: 0.375rem 2.5rem;
    text-transform: uppercase;
    @media (max-width: 490px){
        height: 40px;
    }
}

.section-contact{
    @media (max-width: 992px){
        margin-bottom: 0;
    }
}

.row-input{
    @media (max-width: 1200px){
        display: flex;
        flex-direction: column;
    }
}

.form-col{
    @media (max-width: 1200px){
        justify-content: flex-start !important;
        margin: 10px auto !important;
    }
}

.input-color{
    background-color: #f6f2f2;
    border: none;
    border-radius: 10px;
}

.input-inline{
    height: 60px;
    width: 350px;
    @media (max-width: 1600px){
        width: 300px;
    }
    @media (max-width: 1400px){
        width: 250px;
    }
}

.textaria{
    width: 100%;
    resize: none;
}

.btn-contact{
    width: 100%;
    height: 50px;
    text-transform: uppercase;
}

.contact-box{
    position: relative;
    padding: 90px;
    background-color: #212529;
    height: 450px;
    width: 450px;
    box-sizing: border-box;
    color: #ccc;
    font-size: 18px;
    @media (max-width: 1390px){
        height: 400px;
        width: 400px;
    }
    @media (max-width: 1240px){
        height: 300px;
        width: 300px;
        padding: 50px;
    }
    @media (max-width: 992px){
        margin-top: 20px;
        width: 100%;
        height: 200px;
    }
    @media (max-width: 380px){
        height: 230px;
    }
}

.contact-subtitle{
    text-transform: uppercase;
}

.contact-description{
    display: block;
    text-decoration: none;
    color: #ccc;
}

.footer{
    height: 160px;
    background-color: #212529;
    color: #ccc;
    font-size: 20px;
    @media (max-width: 992px){
        font-size: 12px;
    }
}

.footer-row{
    @media (max-width: 600px){
        height: 100% !important;
        flex-direction: column-reverse;
    }
}

.footer-inline{
    height: 55px;
    line-height: 55px;
    @media (max-width: 600px){
        width: 100% !important;
    }
}

.media-icon{
    color: #f6f2f2;
    height: 3rem;
    width: 60px;
}